@media only screen and (max-width: 1220px){

/*fogoneros*/
.imagenes-fogoneros {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
/*parrilleros y hornos*/
.imagenes-parrilleros {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
/*corte laser*/
.imagenes-cortelaser {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
/*contactos*/
.fieldset {
  margin: 20px 50px 0 0px;
  flex-direction: column;
}
.contactos {
  flex-direction: column;
  align-items: center;
}
}

@media only screen and (max-width: 1040px){
  .container-fluid{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
      .logo-header {
        animation: ease-in animacion 1s;
       }
      .navbar-nav{
       flex-direction: column;
       row-gap: 15px;
        .nav-link {
          &:hover{
              color: aliceblue;
              transform: scale(1.05);
              }
            }
      }
  }
}

@media only screen and (max-width: 768px) {
  
  /*index*/

  @keyframes animacion {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    
  body{
      background-color:$colorbase;
      font-family: "Raleway", sans-serif;
      margin: 0px;
        .banner{
          .banner__info{
            width: 60%;
            height: 150px;
          }
          .banner__title {
            line-height: 1;
            font-size: 1em;
          }
          .banner__p{
            font-size: 0.9em;
            margin-top: 20px;
          }
        }
        h2 {
          font-size: 0.8rem;
          padding: 20px;
          }
        .imagen-ejemplosflex {
          @include sizes(0px,0px);
          flex-direction: column;
          .imagen-animacion{
            width: 100%;
            overflow: hidden;
            }
            p{
              width: 100%;
            }  
        }
        .imagen-ejemplosflex-reverse {
          @include sizes(0px,0px);
          flex-direction: column-reverse;
          .imagen-animacion{
            width: 100%;
            overflow: hidden;
            }
            p{
              width: 100%; 
            }    
        }

        .videos-ejemplos {
             flex-direction: column;
             align-items: center;
           }
        .videos-ejemplos iframe {
          @include anchoyalto(560px,315px);
           }
      }

   /*footer*/
   .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1,1fr);
      grid-gap: 30px;
      padding: 35px 0px;
      text-align: center;
      figure{
        img{
          width: 180px;
        }
      }
   }
 }

@media only screen and (max-width: 576px) {
 
  %formatoh1 {
    font-size: 1rem;
    }

  %formato-p {
    font-size: 0.8rem;
    }

  body{
      .header-nav {
        @include anchoyalto(100%,80%);
      }
      .navbar-nav{
        flex-direction: column;
        row-gap: 15px;
      }
      .parrafo-h1{
        margin: auto;
        margin-top: 20px;
        width: 90%;
      }
      .parrafo-h2{
       margin: auto;
        width: 95%;
      }
      .imagen-ejemplosflex {
        @include anchoyalto(90%,90%);
        @include sizes(20px, 0px);
        overflow: hidden;  
        .imagen-animacion {
          width: 95%;
          margin: 10px;
        }
        p{
        padding: 0px; 
        margin-top: 20px; 
        }
      }
      .imagen-ejemplosflex-reverse {
        @include anchoyalto(90%,90%);
        @include sizes(20px, 0px);
        overflow: hidden; 
        .imagen-animacion{
          width: 90%;
          margin: 10px;
        }
        p{
          padding: 0px; 
          margin-top: 20px; 
        }
      } 
      .carousel-item{
        img{
          height: 250px;
        }
        
      }
      .videos-ejemplos {
        @include sizes(10px, 10px);
         .videos{
            article{
                margin: 15px;
            }
         }
    
        iframe {
          @include anchoyalto(95%,315px)
        }
       }
    }
    .pie-pagina{
      @include anchoyalto(100%,80%)
    }
     /*CONTACTOS*/
  .contactos {
      form{
         fieldset {
          margin: 10px 20px 0 20px;
          padding: 15px;
          width: 90%;
            }
          }
      }
}