@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");
/* RESET DE CSS*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*$negro:black;
$colorhover:#cd2314;
$colorbase:#f6eee0;
$colorheader:#A45C40;*/
/*colores nuevos*/
.titulo, h1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 50px;
  color: black;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 2px;
}

.imagenes-cortelaser img, .imagenes-parrilleros img, .imagenes-fogoneros img {
  width: 350px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 0px 10px black;
}

.parrafo-cortelaser, .parrafo-parrillerosyhorno, .parrafo-fogonero, .imagen-ejemplosflex-reverse p, .imagen-ejemplosflex p {
  padding: 20px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-align: justify;
}

.videos-ejemplos iframe {
  height: 315px;
  width: 560px;
}

body {
  background-color: #d5d1cf;
  font-family: "Raleway", sans-serif;
}
body header {
  background-color: #7e6762;
  top: 0px;
  width: 100%;
  height: 100%;
}
body header .navbar-nav {
  gap: 20px;
}
body header .navbar-nav .nav-link {
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
  border: 5px solid black;
  border-radius: 15px;
  background-color: #e1e0de;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
body header .navbar-nav .nav-link:hover {
  color: #9b5f35;
  transform: scale(1.1);
}
body header .navbar-collapse {
  justify-content: center;
}

.logo-header {
  animation: ease-in animacion 1s;
}

@keyframes animacion {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*-------INDEX--------*/
h1 {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}

.banner {
  background: url("/img/banner.jpg") fixed center/cover;
  height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner__info {
  padding: 0.3em;
  position: absolute;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: black;
  margin: auto;
  border: 13px solid #eaa353;
  opacity: 0.7;
  background-color: #f6eee0;
}
.banner .banner__title {
  line-height: 1.5;
  font-size: 1.8em;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: auto;
}
.banner .banner__p {
  line-height: 2;
  font-size: 1.5em;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-top: 40px;
  padding: 20px;
  text-align: justify;
  letter-spacing: 2px;
}

.titulo {
  text-align: center;
}

.imagen-ejemplosflex {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 30px;
  overflow: hidden;
}
.imagen-ejemplosflex .imagen-animacion {
  width: 35%;
}
.imagen-ejemplosflex p {
  width: 100%;
}

.imagen-ejemplosflex-reverse {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 10px;
  overflow: hidden;
}
.imagen-ejemplosflex-reverse .imagen-animacion {
  width: 35%;
}
.imagen-ejemplosflex-reverse p {
  width: 100%;
}

.carousel-inner {
  margin: 60px 0 60px 0;
}

.videos-ejemplos {
  margin: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  column-gap: 20px;
}
.videos-ejemplos .videos article {
  margin: 35px;
}
/* FOGONEROS */
.parrafo-fogonero {
  text-align: center;
}

.imagenes-fogoneros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
.imagenes-fogoneros img {
  transition: 0.1s;
  border-radius: 5px;
}
.imagenes-fogoneros img:hover {
  transform: scale(1.07);
}

/* PARILLEROS Y HORNOS */
.parrafo-parrillerosyhorno {
  text-align: center;
}

.imagenes-parrilleros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
.imagenes-parrilleros img {
  transition: 0.1s;
  border-radius: 5px;
}
.imagenes-parrilleros img:hover {
  transform: scale(1.07);
}

/* CORTE LASER */
.parrafo-cortelaser {
  text-align: center;
}

.imagenes-cortelaser {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
.imagenes-cortelaser img {
  transition: 0.1s;
  border-radius: 5px;
}
.imagenes-cortelaser img:hover {
  transform: scale(1.07);
}

/*CONTACTOS*/
.contactos {
  margin: 20px;
  color: #9b5f35;
  display: flex;
  flex-direction: column;
}
.contactos a {
  display: flex;
  justify-content: center;
}
.contactos a img {
  width: 100px;
  margin: 30px;
}
.contactos a img:hover {
  transform: scale(1.07);
}
.contactos form {
  display: flex;
  justify-content: center;
  width: 95%;
}
.contactos form fieldset {
  width: 50%;
  padding: 20px;
  font-size: 1.5rem;
  margin: 20px 80px 0 80px;
  background-color: rgb(192, 184, 184);
  border: 10px solid;
  display: flex;
  flex-direction: column;
}

/*------FOOTER-----*/
.pie-pagina {
  width: 100%;
  background-color: #7e6762;
}

.grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.grupo-1 figure {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grupo-1 figure img {
  width: 250px;
}
.grupo-1 h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 1.6rem;
  font-weight: bold;
}
.grupo-1 p {
  color: black;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.grupo-1 .red-social a {
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: black;
  background-color: #d5d1cf;
  text-align: center;
}
.grupo-1 .red-social a:hover {
  color: #e41926;
}
.grupo-1 .red-social .fa-facebook:hover {
  color: #1877f2;
}
.grupo-1 .grupo-2 {
  font-size: 1.3rem;
  padding: 15px 10px;
  text-align: center;
}

@media only screen and (max-width: 1220px) {
  /*fogoneros*/
  .imagenes-fogoneros {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  /*parrilleros y hornos*/
  .imagenes-parrilleros {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  /*corte laser*/
  .imagenes-cortelaser {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  /*contactos*/
  .fieldset {
    margin: 20px 50px 0 0px;
    flex-direction: column;
  }
  .contactos {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1040px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .container-fluid .logo-header {
    animation: ease-in animacion 1s;
  }
  .container-fluid .navbar-nav {
    flex-direction: column;
    row-gap: 15px;
  }
  .container-fluid .navbar-nav .nav-link:hover {
    color: aliceblue;
    transform: scale(1.05);
  }
}
@media only screen and (max-width: 768px) {
  /*index*/
  @keyframes animacion {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  body {
    background-color: #d5d1cf;
    font-family: "Raleway", sans-serif;
    margin: 0px;
  }
  body .banner .banner__info {
    width: 60%;
    height: 150px;
  }
  body .banner .banner__title {
    line-height: 1;
    font-size: 1em;
  }
  body .banner .banner__p {
    font-size: 0.9em;
    margin-top: 20px;
  }
  body h2 {
    font-size: 0.8rem;
    padding: 20px;
  }
  body .imagen-ejemplosflex {
    margin: 0px;
    padding: 0px;
    flex-direction: column;
  }
  body .imagen-ejemplosflex .imagen-animacion {
    width: 100%;
    overflow: hidden;
  }
  body .imagen-ejemplosflex p {
    width: 100%;
  }
  body .imagen-ejemplosflex-reverse {
    margin: 0px;
    padding: 0px;
    flex-direction: column-reverse;
  }
  body .imagen-ejemplosflex-reverse .imagen-animacion {
    width: 100%;
    overflow: hidden;
  }
  body .imagen-ejemplosflex-reverse p {
    width: 100%;
  }
  body .videos-ejemplos {
    flex-direction: column;
    align-items: center;
  }
  body .videos-ejemplos iframe {
    width: 560px;
    height: 315px;
  }
  /*footer*/
  .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center;
  }
  .grupo-1 figure img {
    width: 180px;
  }
}
@media only screen and (max-width: 576px) {
  h1, .titulo {
    font-size: 1rem;
  }
  .imagen-ejemplosflex p, .imagen-ejemplosflex-reverse p, .parrafo-fogonero, .parrafo-parrillerosyhorno, .parrafo-cortelaser {
    font-size: 0.8rem;
  }
  body .header-nav {
    width: 100%;
    height: 80%;
  }
  body .navbar-nav {
    flex-direction: column;
    row-gap: 15px;
  }
  body .parrafo-h1 {
    margin: auto;
    margin-top: 20px;
    width: 90%;
  }
  body .parrafo-h2 {
    margin: auto;
    width: 95%;
  }
  body .imagen-ejemplosflex {
    width: 90%;
    height: 90%;
    margin: 20px;
    padding: 0px;
    overflow: hidden;
  }
  body .imagen-ejemplosflex .imagen-animacion {
    width: 95%;
    margin: 10px;
  }
  body .imagen-ejemplosflex p {
    padding: 0px;
    margin-top: 20px;
  }
  body .imagen-ejemplosflex-reverse {
    width: 90%;
    height: 90%;
    margin: 20px;
    padding: 0px;
    overflow: hidden;
  }
  body .imagen-ejemplosflex-reverse .imagen-animacion {
    width: 90%;
    margin: 10px;
  }
  body .imagen-ejemplosflex-reverse p {
    padding: 0px;
    margin-top: 20px;
  }
  body .carousel-item img {
    height: 250px;
  }
  body .videos-ejemplos {
    margin: 10px;
    padding: 10px;
  }
  body .videos-ejemplos .videos article {
    margin: 15px;
  }
  body .videos-ejemplos iframe {
    width: 95%;
    height: 315px;
  }
  .pie-pagina {
    width: 100%;
    height: 80%;
  }
  /*CONTACTOS*/
  .contactos form fieldset {
    margin: 10px 20px 0 20px;
    padding: 15px;
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
