@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");
/* RESET DE CSS*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.titulo, h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 25px;
  color: black;
  font-weight: bold;
}

.imagenes-cortelaser img, .imagenes-parrilleros img, .imagenes-fogoneros img {
  width: 350px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 0px 10px black;
}

.imagen-ejemplos p, .imagen-ejemplosflex-reverse p, .imagen-ejemplosflex p {
  padding: 20px;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.videos-ejemplos iframe {
  height: 315px;
  width: 560px;
}

body {
  background-color: #f6eee0;
  font-family: "Raleway", sans-serif;
  margin: 50px;
}
body header {
  background-color: #A45C40;
  top: 0px;
  padding: 5px;
}
body header .nav-link {
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
}
body header .nav-link:hover {
  color: aliceblue;
  transform: scale(1.1);
}
body header .navbar-collapse {
  justify-content: center;
}

.logo-header {
  animation: ease-in animacion 1s;
}

@keyframes animacion {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*-------INDEX--------*/
h2 {
  margin-top: 40px;
}

.imagen-ejemplosflex {
  margin: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.imagen-ejemplosflex-reverse {
  margin: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.imagen-ejemplos {
  margin: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.imagen-ejemplos .imagen-index {
  box-shadow: 0px 0px 10px black;
}
.imagen-ejemplos .imagen-index:hover {
  transform: scale(1.07);
}
.videos-ejemplos {
  margin: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 80px;
}
/* FOGONEROS */
.parrafo-fogonero {
  text-align: center;
  font-size: 1.5em;
  margin: 30px;
}

.imagenes-fogoneros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
.imagenes-fogoneros img:hover {
  transform: scale(1.07);
}

/* PARILLEROS Y HORNOS */
.parrafo-parrillerosyhorno {
  text-align: center;
  font-size: 1.5em;
  margin: 30px;
}

.imagenes-parrilleros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
.imagenes-parrilleros img:hover {
  transform: scale(1.07);
}

/* CORTE LASER */
.parrafo-cortelaser {
  text-align: center;
  font-size: 1.5em;
  margin: 30px;
}

.imagenes-cortelaser {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
.imagenes-cortelaser img:hover {
  transform: scale(1.07);
}

/*CONTACTOS*/
.contactos {
  margin: 20px;
  color: #C38370;
  display: flex;
  flex-direction: column;
}
.contactos form {
  display: flex;
  justify-content: center;
}
.contactos form fieldset {
  padding: 100px;
  font-size: 1.5rem;
  margin: 20px 100px 0 100px;
  background-color: rgba(59, 44, 44, 0.2588235294);
  border: 10px solid;
  display: flex;
  flex-direction: column;
}

/*------FOOTER-----*/
.pie-pagina {
  width: 100%;
  background-color: #A45C40;
}

.grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.grupo-1 figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grupo-1 figure img {
  width: 250px;
}
.grupo-1 h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
}
.grupo-1 p {
  color: black;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.grupo-1 .red-social a {
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: black;
  background-color: #f6eee0;
  text-align: center;
}
.grupo-1 .red-social a:hover {
  color: #cd2314;
}

.grupo-2 {
  font-size: 1.5rem;
  padding: 15px 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /*index*/
  .container-fluid {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .container-fluid .logo-header {
    animation: ease-in animacion 1s;
  }
  .container-fluid .navbar-nav {
    flex-direction: column;
    row-gap: 15px;
  }
  .container-fluid .navbar-nav .nav-link:hover {
    color: aliceblue;
    transform: scale(1.05);
  }
  @keyframes animacion {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  h1, .titulo {
    font-size: 1.6rem;
    margin: 0px;
    padding: 10px;
  }
  .imagen-ejemplosflex p, .imagen-ejemplosflex-reverse p, .imagen-ejemplos p {
    padding: 0px;
  }
  body {
    background-color: #f6eee0;
    font-family: "Raleway", sans-serif;
    margin: 0px;
  }
  body h2 {
    font-size: 1.6rem;
    padding: 10px;
  }
  body .imagen-ejemplosflex {
    margin: 0px;
    padding: 10px;
    flex-direction: column;
  }
  body .imagen-ejemplosflex-reverse {
    margin: 0px;
    padding: 10px;
    flex-direction: column-reverse;
  }
  body .imagen-ejemplos {
    margin: 0px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  body .imagen-ejemplos .imagen-index {
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 10px black;
  }
  body .videos-ejemplos {
    flex-direction: column;
    align-items: center;
  }
  body .videos-ejemplos iframe {
    height: 315px;
    width: 560px;
  }
  /*footer*/
  .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center;
  }
  .grupo-1 figure img {
    width: 180px;
  }
  /*fogoneros*/
  .imagenes-fogoneros {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  /*parrilleros y hornos*/
  .imagenes-parrilleros {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  /*corte laser*/
  .imagenes-cortelaser {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  /*contactos*/
  .fieldset {
    margin: 20px 50px 0 0px;
    flex-direction: column;
  }
  .contactos {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 576px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .container-fluid .logo-header {
    animation: ease-in animacion 1s;
  }
  .container-fluid .navbar-nav {
    flex-direction: column;
    row-gap: 15px;
  }
  .container-fluid .navbar-nav .nav-link:hover {
    color: aliceblue;
    transform: scale(1.05);
  }
  @keyframes animacion {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  header .nav-link:hover {
    color: aliceblue;
  }
  .header {
    flex-direction: column;
  }
  .parrafo-h2 {
    font-size: 1.3rem;
  }
  .imagen-ejemplosflex p, .imagen-ejemplosflex-reverse p, .imagen-ejemplos p {
    font-size: 1.3rem;
  }
  /*index*/
  h1, .titulo {
    text-align: center;
    font-size: 1.3rem;
    margin: 10px;
    color: black;
    font-weight: bold;
  }
  .imagen-ejemplosflex {
    flex-direction: column;
    align-items: center;
  }
  .imagen-ejemplosflex-reverse {
    flex-direction: column-reverse;
    align-items: center;
  }
  .imagen-ejemplos {
    flex-direction: column;
    align-items: center;
  }
  .videos-ejemplos {
    flex-direction: column;
    align-items: center;
  }
  .videos-ejemplos iframe {
    height: 215px;
    width: 460px;
  }
  /*footer*/
  .grupo-1 {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center;
  }
  .grupo-1 figure img {
    width: 150px;
  }
  /*fogoneros*/
  .imagenes-fogoneros {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  /*parrilleros y hornos*/
  .imagenes-parrilleros {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  /*corte laser*/
  .imagenes-cortelaser {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  /*CONTACTOS*/
  .contactos {
    margin: 10px;
  }
  .contactos form fieldset {
    padding: 20px;
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
