/*------FOOTER-----*/
footer{
    font-size: 1.8rem;
    color: black;
    text-align: center;
    margin: 10px;
    ul{
        li{
            display: flex;
            display: inline-block;
            padding: 4px;
            margin-top: 30px;
            &:hover{
            color:rgb(205, 35, 20);    
            }
            .bi {
                font-size: 3rem;
            }
        }
    }
}