/*------FOOTER-----*/
footer{
    font-size: 1.8rem;
    color: $negro;
    text-align: center;
    margin: 10px;
    ul{
        li{
            display: flex;
            display: inline-block;
            padding: 4px;
            margin-top: 30px;
            &:hover{
            color:$colorhover;    
            }
            .bi {
                font-size: 3rem;
            }
        }
    }
}