body{
     background-color:$colorbase;
     font-family: "Raleway", sans-serif;
     /*font-family: 'Kenia';*/
     margin: 100px;
        header{
            background-color: $colorheader;
            top: 0px;
            padding: 5px;
            .logo-header{
                /*aca tengo que agregar la animacion-*/
            }
             .nav-link {
                color:$negro;
                font-size: 1.6rem;
                font-weight: bold;
                &:hover{
                    color: aliceblue;
                }
                }
            }
}

h1{
    @extend %formatoh1
    }


.logo-header {
        animation: ease-in animacion 1s;
      }
      
      @keyframes animacion {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }