body {
  background-color: $colorbase;
  font-family: "Raleway", sans-serif;

  header {
    background-color: $colorheader;
    top: 0px;
    @include anchoyalto (100%, 100%);
    .navbar-nav{
      gap: 20px;
      .nav-link {
        color: $negro;
        font-size: 1.6rem;
        font-weight: bold;
        border: 5px solid $negro;
        border-radius: 15px;
        background-color:rgb(226 167 89);
        display: flex;
        align-items: center;
        opacity: 0.7;
        &:hover {
          color: aliceblue;
          transform: scale(1.1);
        }
      }
    }
    .navbar-collapse {
      justify-content: center;
    }
  }
}

.logo-header {
  animation: ease-in animacion 1s;
}

@keyframes animacion {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}