body{
     background-color: #F6EEE0;
     font-family: "Raleway", sans-serif;
     /*font-family: 'Kenia';*/
     margin: 100px;
        header{
            background-color: #A45C40;
            top: 0px;
            padding: 5px;
            .logo-header{
                /*aca tengo que agregar la animacion-*/
            }
             .nav-link {
                color: black;
                font-size: 1.6rem;
                font-weight: bold;
                &:hover{
                    color: aliceblue;
                }
                }
            }
}

h1{
    text-align: center;
    font-size: 35px;
    margin: 25px;
    }