/*-------INDEX--------*/
h2{
    margin-top: 40px;
    padding: 20px;
}
.titulo{
    @extend %formatoh1
}
.imagen-ejemplosflex {
    @include sizes(30px, 20px);
    @include flex-center;
        p{
            @extend %formato-p  
         }
}
.imagen-ejemplosflex-reverse{
    @include sizes(30px, 20px);
    @include flex-center;
    p{
        @extend %formato-p
    }

}
.imagen-ejemplos{
    @include sizes(30px, 20px);
    @include flex-center;
    gap: 50px;
    justify-content: center;

    .imagen-index {
        box-shadow: 0px 0px 10px black;  
        &:hover {
            transform: scale(1.07);
            } 
        }
    p {
        @extend %formato-p   
    }
}
.videos-ejemplos{
    @include sizes(30px, 20px);
    @include flex-center;
    justify-content: space-evenly;
    gap: 80px;
    iframe{
        @extend %iframe
    }
}
/* FOGONEROS */
.parrafo-fogonero {
    text-align: center;
    @extend %formato-p
    }

  .imagenes-fogoneros {
    @include grid-template-columns;
    gap: 20px;
    justify-items: center;
        img{
            @extend %formato-img;
            &:hover {
             transform: scale(1.07);
            }
         }
  }
/* PARILLEROS Y HORNOS */
  .parrafo-parrillerosyhorno {
    text-align: center;
    @extend %formato-p
  }

  .imagenes-parrilleros {
    @include grid-template-columns;
    gap: 20px;
    justify-items: center;
    img {
        @extend %formato-img;
        &:hover{
            transform: scale(1.07);
        }
      }
  }
/* CORTE LASER */
.parrafo-cortelaser {
    text-align: center;
    @extend %formato-p
  }
  .imagenes-cortelaser {
    @include grid-template-columns;
    gap: 20px;
    justify-items: center;
    img {
        @extend %formato-img;
        &:hover{
            transform: scale(1.07);
        }
      }
  }
  /*CONTACTOS*/
.contactos {
    margin: 20px;
    color: #C38370;
    display: flex;
    flex-direction: column;
    a{
        padding: 2%;
        display: flex;
        justify-content: center;
        img{
            width: 10%;
            &:hover{
                transform: scale(1.07);
            } 
        }  
    }
    form{
        display: flex;
        justify-content: center;
        fieldset {
            padding: 100px;
            font-size: 1.5rem;
            margin: 20px 100px 0 100px;
            background-color: rgba(59, 44, 44, 0.2588235294);
            border: 10px solid;
            display: flex;
            flex-direction: column;
        }
    }
  }