/*-------INDEX--------*/
h2{
    font-size: 1.5rem;
    margin-top: 40px;
    padding: 20px;
    text-align: justify;
    letter-spacing: 2px;
}
.titulo{
    @extend %formatoh1;
    text-align: center;
}
.imagen-ejemplosflex {
    @include flex-center;
    margin: 30px;
    gap: 30px;
    overflow: hidden;
         .imagen-animacion{
             width: 35%;
         }
        p{
            @extend %formato-p;
            width: 90%; 
         }
    }
.imagen-ejemplosflex-reverse{
    @include flex-center;
    gap: 30px;
    margin: 30px;
    overflow: hidden;
         .imagen-animacion{
              width: 35%;
         }
         p{
             @extend %formato-p;
             width: 90%;
         }
 }
.imagen-ejemplos{
    @include sizes(30px, 20px);
    @include flex-center;
    gap: 50px;
    justify-content: center;

    .imagen-index {
        box-shadow: 0px 0px 10px black; 
        transition: .10s;
        &:hover {
            transform: scale(1.07); 
            } 
        }
    p {
        @extend %formato-p   
    }
}
.videos-ejemplos{
    @include sizes(30px, 20px);
    @include flex-center;
    justify-content: space-evenly;
    gap: 80px;
    iframe{
        @extend %iframe
    }
}
/* FOGONEROS */
.parrafo-fogonero {
    text-align: center;
    @extend %formato-p
    }

  .imagenes-fogoneros {
    @include grid-template-columns;
    gap: 20px;
    justify-items: center;
        img{
            @extend %formato-img;
            transition: .10s;
            &:hover {
             transform: scale(1.07);
            }
         }
  }
/* PARILLEROS Y HORNOS */
  .parrafo-parrillerosyhorno {
    text-align: center;
    @extend %formato-p
  }

  .imagenes-parrilleros {
    @include grid-template-columns;
    gap: 20px;
    justify-items: center;
    img {
        @extend %formato-img;
        transition: .10s;
        &:hover{
            transform: scale(1.07);
        }
      }
  }
/* CORTE LASER */
.parrafo-cortelaser {
    text-align: center;
    @extend %formato-p
  }
  .imagenes-cortelaser {
    @include grid-template-columns;
    gap: 20px;
    justify-items: center;
    img {
        @extend %formato-img;
        transition: .10s;
        &:hover{
            transform: scale(1.07);
        }
      }
  }
  /*CONTACTOS*/
.contactos {
    margin: 20px;
    color: #C38370;
    display: flex;
    flex-direction: column;
    a{
        display: flex;
        justify-content: center;
        img{
            width: 100px;
            margin: 30px;
            &:hover{
                transform: scale(1.07);
            } 
        }  
    }
   form{
        display: flex;
        justify-content: center;
        width: 95%;
        fieldset {
            width: 50%;
            padding: 20px;
            font-size: 1.5rem;
            margin: 20px 80px 0 80px;
            background-color: rgba(59, 44, 44, 0.2588235294);
            border: 10px solid;
            display: flex;
            flex-direction: column;
        }
    }
  }