/*-------INDEX--------*/
    h1 {
      @extend %formatoh1;
      display: flex;
      justify-content: center;
    }

  .banner {
    background: url("/img/banner.jpg") fixed center/cover;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .banner__info {
      padding: 0.3em;
      position: absolute;
      width: 100%;
      max-width: 700px;
      text-align: center;
      color: $negro;
      margin: auto;
      border: 13px solid $colorheader;
      opacity: 0.7;
      background-color: #f6eee0;
    }

     .banner__title {
        line-height: 1.5;
        font-size: 2.5em;
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;

      }

      .banner__p {
        line-height: 2;
        font-size: 1.8em;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        text-align: justify;
      }
  }

h2 {
    font-size: 1.5rem;
    margin-top: 40px;
    padding: 20px;
    text-align: justify;
    letter-spacing: 2px;
}

.titulo {
    @extend %formatoh1;
    text-align: center;
}

.imagen-ejemplosflex {
    @include flex-center;
    margin: 30px;
    gap: 30px;
    overflow: hidden;

    .imagen-animacion {
        width: 35%;
    }

    p {
        @extend %formato-p;
        width: 90%;
    }
}

.imagen-ejemplosflex-reverse {
    @include flex-center;
    gap: 30px;
    margin: 30px;
    overflow: hidden;

    .imagen-animacion {
        width: 35%;
    }

    p {
        @extend %formato-p;
        width: 90%;
    }
}

.carousel-inner{
    margin: 60px 0 60px 0;
}


.videos-ejemplos {
    @include sizes(30px, 20px);
    @include flex-center;
    justify-content: space-evenly;
    gap: 80px;

    iframe {
        @extend %iframe
    }
}

/* FOGONEROS */
.parrafo-fogonero {
    text-align: center;
    @extend %formato-p
}

.imagenes-fogoneros {
    @include grid-template-columns;
    gap: 20px;
    justify-items: center;

    img {
        @extend %formato-img;
        transition: .10s;

        &:hover {
            transform: scale(1.07);
        }
    }
}

/* PARILLEROS Y HORNOS */
.parrafo-parrillerosyhorno {
    text-align: center;
    @extend %formato-p
}

.imagenes-parrilleros {
    @include grid-template-columns;
    gap: 20px;
    justify-items: center;

    img {
        @extend %formato-img;
        transition: .10s;

        &:hover {
            transform: scale(1.07);
        }
    }
}

/* CORTE LASER */
.parrafo-cortelaser {
    text-align: center;
    @extend %formato-p
}

.imagenes-cortelaser {
    @include grid-template-columns;
    gap: 20px;
    justify-items: center;

    img {
        @extend %formato-img;
        transition: .10s;

        &:hover {
            transform: scale(1.07);
        }
    }
}

/*CONTACTOS*/
.contactos {
    margin: 20px;
    color: #C38370;
    display: flex;
    flex-direction: column;

    a {
        display: flex;
        justify-content: center;

        img {
            width: 100px;
            margin: 30px;

            &:hover {
                transform: scale(1.07);
            }
        }
    }

    form {
        display: flex;
        justify-content: center;
        width: 95%;

        fieldset {
            width: 50%;
            padding: 20px;
            font-size: 1.5rem;
            margin: 20px 80px 0 80px;
            background-color: rgba(59, 44, 44, 0.2588235294);
            border: 10px solid;
            display: flex;
            flex-direction: column;
        }
    }
}